.Header {
  height: 100%;
  padding: 0 40px;
  background: var(--reverse-bg-color);
}

.icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  padding: 2px;
  transition: all var(--time-small) ease-in-out;
  fill: var(--secondary-color);
}

.timeText {
  color: var(--secondary-color);
}

.iconNav {
  align-self: center;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  cursor: pointer;
  fill: var(--main-color);

  &:hover {
    border: solid 1px var(--main-color);
    border-radius: 10%;
  }
}
