# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы сборки и временные файлы
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pnp
.pnp.js

# Игнорировать локальные файлы конфигурации
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорировать файлы конфигурации и кеш Babel
babel.config.js
.babelrc
.babelrc.js
.babelignore

# Игнорировать файлы конфигурации Jest
jest.config.js
jest.setup.js

# Игнорировать файлы настройки GitHub Actions
.github/workflows/

# Игнорировать файлы настройки VSCode
.vscode/

# Игнорировать файлы сборки IDE и редакторов
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
