.dark {
  --main-color: #1192e6;
  --secondary-color: #0a8f85;
  --primary-color: #00dfc4;
  --reverse-secondary-color: #051a40;
  --bg-color: #1f2a3d;
  --reverse-bg-color: #061b29;
  --reverse-main-color: #0a476e;
  --up-bg-color: #061432;
  --delete-color: #982c2c;
}

