.RepeatTable {
  width: 100% !important;
  border-radius: 15px;
  font-weight: 700;
}

.Badge {
  color: red;
  width: 100% !important;
  text-transform: uppercase;
}

.table {
  background-color: var(--main-color);
  color: red;
}